body {
  margin: 0;

}

/* ------Header------ */

header {
  background-color: #424C55;
  display: flex;
  justify-content: space-between;
  height: 150px;
  padding: 0 3%;
}

.shares-btn {
  width: 100px;
}

.playlists-btn {
  display: flex;
  justify-content: space-around;
  width: 150px;
}

.personal-videos-btn {
  width: 175px;
}

.admin-user-btn {
  align-items: center;
  display: flex;
  justify-content: space-around;
  width: 175px;
}

nav {
  /* color: white; */
  display: flex;
  justify-content: space-around;
  width: 600px;
}

nav > button {
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

div > button {
  color: white;
  display: flex;
  justify-content: center;
}

.right-header {
  color: white;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.cards {
  border: 2px solid blue;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.recipient-card {
  align-items: center;
  border: 2px solid red;
  margin: 1%;
  /* padding: 2%; */
  width: 300px;
}

.recipient-info {
  align-items: center;
  display: flex;
  flex-direction: column;
  padding: 2%;
}

.recipient-card-top {
  background-image: url("../assets/recipient-card-photo.jpg");
  display: flex;
  justify-content: space-between;
  /* margin-right: 100px; */
  /* margin: 0 4%; */
  height: 300px;
}

.views {
  align-items: center;
  display: flex;
  flex-direction: column;
  /* height: 20px; */
}

button {
  background: transparent;
  border: none;
}

@media screen and (max-width: 813px) {

  .cards {
    align-items: center;
    display: flex;
    flex-direction: column;
  }

  nav {
    display: flex;
    flex-direction: column;
  }

  .recipient-card {
    width: 300px;
  }
}
