body {
  margin: 0;
  background-color: #F7F6DF;

}

/* ------Header------ */

header {
  background-color: #424C55;
  display: flex;
  justify-content: space-between;
  height: 150px;
  padding: 0 3%;
}

.shares-btn {
  width: 100px;
}

.playlists-btn {
  display: flex;
  justify-content: space-around;
  width: 150px;
}

.personal-videos-btn {
  width: 175px;
}

.admin-user-btn {
  align-items: center;
  display: flex;
  justify-content: space-around;
  width: 175px;
}

nav {
  /* color: white; */
  display: flex;
  justify-content: space-around;
  width: 600px;
}

nav > button {
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

div > button {
  color: white;
  display: flex;
  justify-content: center;
}

.right-header {
  color: white;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* ------Main------ */

h2 {
  font-size: 40px;
  margin-left: 5%;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.recipient-card {
  background-color: #F5F5F5;
  border-radius: 1%;
  box-shadow: rgba(0,0,0,0.8) 0 0 10px;
  align-items: center;
  margin: 1%;
  width: 300px;
}

.recipient-info {
  align-items: center;
  display: flex;
  flex-direction: column;
  padding: 2%;
}

.recipient-card-top {
  background-image: url("../assets/recipient-card-photo.jpg");
  border-radius: 1%;
  display: flex;
  justify-content: space-between;
  height: 300px;
}

.forward-arrow-btn {
  height: 40px;
  margin-left: 3%;
}

.views {
  align-items: center;
  display: flex;
  flex-direction: column;
  font-size: 20px;
  margin-right: 3%;
  height: 20px;
  padding: 0;
}

button {
  background: transparent;
  border: none;
}

@media screen and (max-width: 813px) {

  .cards {
    align-items: center;
    display: flex;
    flex-direction: column;
  }

  nav {
    display: flex;
    flex-direction: column;
  }

  .recipient-card {
    width: 300px;
  }
}
