body {
  margin: 0;
}

header {
  background-color: #424C55;
  display: flex;
  justify-content: space-between;
  height: 150px;
  padding: 0 3%;
}

.header-image {
  margin-right: 1%;
}

.shares-btn {
  width: 100px;
}

.personal-videos-btn {
  width: 175px;
}

.admin-user-btn {
  display: flex;
  align-items: center;
  /* justify-content: center;
  text-align: center; */
  width: 200px;
}

nav {
  /* color: white; */
  display: flex;
  justify-content: space-around;
  width: 600px;
}

nav > button {
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

div > button {
  color: white;
  display: flex;
  justify-content: center;
}

.right-header {
  color: white;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.cards {
  border: 2px solid blue;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.recipient-card {
  align-items: center;
  border: 2px solid red;
  margin: 1%;
  padding: 2%;
  width: 265px;
}

.recipient-info {
  align-items: center;
  display: flex;
  flex-direction: column;
  padding: 2%;
}

.recipient-card-top {
  display: flex;
  justify-content: space-between;
  margin: 0 4%;
}

button {
  background: transparent;
  border: none;
}

@media screen and (max-width: 813px) {
  nav {
    display: flex;
    flex-direction: column;
  }

  .recipient-card {
    width: 300px;
  }
}
